@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000000;
}

.container-buttons{
    margin: 20px 0;
    display: flex; /*Flexbox para tornar possivel alinhar os botões*/
    justify-content: center; /*Alinhamento horizontal*/
    align-items: center; /* Alinha os itens verticalmente */
    gap: 25px; /* Espaçamento entre os botões */
}   

button{
    background-color: #79CB15;
    border: none;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    width: 110px;
    padding: 5px 0;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}

ul{
    list-style: none;
    display: grid; /* Grid para organizar os itens em colunas e linhas */
    grid-template-columns: 200px 200px 200px; /* Define o número de colunas e a largura de cada uma */
    gap: 20px;
    justify-content: center; /* Centraliza os itens horizontalmente */
}

li{
    border: 2px solid #8133FF;
    border-radius: 5px;
    padding: 5px;
}

img{
 width: 100%;
 height: 70%;
 border-radius: 5px;
}

p{
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}

.item-price {
 font-weight: bold;
 color: #79CB15;
}
